<div class="row">
  <h1 class="col-xs-2"><%=decision.description%></h1>
  <%if decision.answers%>
    <%=render decision.answers%>
  <%end%>
  <!-- <%=link_to "Answer This Contract", new_answers_path(:decision_id => decision.id), class: "text-center"%> -->
</div>
