<div class="dropdown">
  <!-- dropdown btn  -->
  <div class="col-xs-2" id="desc_dropdown_btn" data-toggle="dropdown" >
    <a type="link" class="btn-primary btn-sm dropdown-button text-center"><nobr><%= decision.description %></nobr></a>
  </div>
  <!-- dropdown menu  -->
  <ul class="dropdown-menu" id="desc_dropdown">
    <% wording = Answer.find_by(decision: decision.id, user: current_user) ? "Change Answer" : "Answer" %>
    <li><%= link_to "#{wording}", new_answers_path(:decision_id => decision) %></li>
    <% if @owner %>
      <li> <div class="text-left menu_break">Owner</div></li>
      <li><%= link_to "Edit", decisions_edit_path(:decision_id => decision) %></li>
      <li><%= link_to 'Delete', decision_delete_path(:decision_id=> decision.id), method: 'delete' %></li>
    <% end %>
  </ul>
</div>
