<table class="table" data-toggle="table">
  <thead>
    <tr>
      <th class="col-xs-2">Decision</th>
      <th class="col-xs-2">Explain</th>
      <th class="col-xs-2">Consult</th>
      <th class="col-xs-2">Agree</th>
      <th class="col-xs-2">Advise</th>
      <th class="col-xs-2">Inquire</th>
    </tr>
  </thead>
  
  <tbody>
    <% @decisions.each do |decision| %>
      <tr>
        <th> <%= render 'decisions/decision_menu_or_text',:decision => decision, :@viewer => @viewer %> </th>
        <% if decision.answers %>
          <% Answer.types.each do |type| %><td><%= Answer.find_all_names(type, decision.answers, @user) %></td><% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
