<div class="container">
  <%if @decisions %>
    <div class="row"><%= render partial: 'decisions/table_header' %></div>
    <% @decisions.each do |decision| %>
      <div class="row" id="decision_data">
        <%= render 'decisions/decision_menu_or_text',:decision => decision, :@viewer => @viewer %>
        <% if decision.answers %>
          <div class="col-xs-2"></div>
          <% Answer.types.each do |type| %><div class="col-xs-2"><%= Answer.find_all_names(type, decision.answers, @user) %></div><% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
