<div class="container">
  <div id="decisions-show"></div>
</div>


<script>
$( document ).on('turbolinks:load', mobileOrDesktop)
$( document ).on('turbolinks:load', window.addEventListener("resize", mobileOrDesktop) )
function mobileOrDesktop() {
  if ($(window).width() < 768) {
    $('#decisions-show').html('<%=j render "decisions/mobile_show" %>');
  } else {
    $('#decisions-show').html('<%=j render "decisions/desktop_show" %>');
  }
};
</script>
