<div class="container">
  <div class="row" id="decision_table_header">
    <div class="col-xs-2">Decision</div>
    <div class="col-xs-2">Explain</div>
    <div class="col-xs-2">Consult</div>
    <div class="col-xs-2">Agree</div>
    <div class="col-xs-2">Advise</div>
    <div class="col-xs-2">Inquire</div>
  </div>
</div>
