<div class="contract_link_box grid-item">
  <div class="contract_card">

    <div class="contract_card_header">
      <div class="collab_icons">
        <% if @contract.complete %>
          <i class='fa fa-lg fa-lock' aria-hidden='true'></i>
        <% else %>
          <i class='fa fa-lg fa-unlock-alt' aria-hidden='true'></i>
        <% end %>

        <% if @contract.reviewable %>
           <i class='fa fa-lg fa-users' aria-hidden='true'></i>
        <% else %>
          <i class='fa fa-lg fa-user' aria-hidden='true'></i>
        <% end %>
      </div>
      <p class="title_text">
        <a href="<%= "/contracts/#{@contract.id}/#{@contract.link}" %>">
          <%= @contract.title %>
        </a>
      </p>
      <p class="theme_text"><%= @contract.theme %></p>
      <hr>
    </div>

    <div class="contract_card_body">
      <p class="collaborators_text">On this contract:</p>
      <span class="user_list">
        <%= @contract.user_list(current_user) %>
      </span>
    </div>

    <!-- <hr>
    <div class="contract_card_footer">
    </div> -->

  </div>
</div>
