<div class="button_container col-sm-12">
  <div class="buttons">

    <%= link_to "<i class='fa fa-user-plus fa-2x btn btn-primary'></i>".html_safe, contracts_invite_path(:id=>@contract)  %>

    <% @contract.reviewable ? @user_icon = "fa-users" : @user_icon = "fa-user" %>
    <% @contract.complete ? @lock_icon = "fa-lock" : @lock_icon = "fa-unlock-alt" %>
    <%= link_to "<i class='fa fa-2x btn btn-primary #{@user_icon}' aria-hidden='true'></i>".html_safe, contracts_update_path(:id=>@contract.id, :link=>@contract.owner_link, :task=>"review"), :method=>:post  %>
    <%= link_to "<i class='fa fa-2x btn btn-primary #{@lock_icon}' aria-hidden='true'></i>".html_safe, contracts_update_path(:id=>@contract.id, :link=>@contract.owner_link, :task=>"complete"), :method=>:post  %>
    <%= link_to "<i class='fa  fa-2x fa-trash-o btn btn-danger'  aria-label='Delete'></i>".html_safe, contracts_delete_path(:contract_id=>@contract.id ), :method => :delete, :data => {:confirm => 'Are you sure?'} %>
  </div>
</div>
