<div class="container dashboard">

  <%=render 'contracts/lg_new_button'%>

  <div class="owner_contracts col-xs-12">
    <h1 class="text-center">Owner</h1>
      <%@owner_contracts.each do |contract|%>
        <%= render 'contracts/owner_dashboard_show', :@contract => contract %>
      <%end%>
    </div>

  <div class="collab_contract col-xs-12">
    <h1 class="text-center">Collaborator</h1>
      <%@contracts.each do |contract|%>
        <%= render 'contracts/collab_dashboard_show', :@contract => contract %>
      <%end%>
  </div>

</div>
