<div class="container dashboard" id="userDashboardContainer">

  <%=render 'contracts/lg_new_button'%>

  <div class="owner_contracts">
    <h1 class="text-center">Owner</h1>
    <div class="dashboard-grid">
      <%@owner_contracts.each do |contract|%>
        <%= render 'contracts/owner_dashboard_show', :@contract => contract %>
      <%end%>
    </div>
  </div>

  <div class="collab_contract">
    <h1 class="text-center">Collaborator</h1>
    <div class="dashboard-grid">
      <%@contracts.each do |contract|%>
        <%= render 'contracts/collab_dashboard_show', :@contract => contract %>
      <%end%>
    </div>
  </div>

</div>
