<h1 class="text-center">Collaboration Contracts</h1>
<!-- new contract btn -->
<button type="button" class="btn btn-primary btn-lg col-sm-4 col-sm-offset-4" data-toggle="modal" data-target="#myModal">New Contract</button>
<!-- new contract modal -->
<div id="myModal" class="modal fade" role="dialog">
  <%= render 'contracts/new_modal' %>
</div>

<% if @error_messages %>
  <script>
    $(window).load(function(){
        $('#myModal').modal('show');
    });
  </script>
<% end %>
