#answer_buttons {
  padding-top: .5em;
}

.new_answer {
  .max-width-800 {
    max-width: 800px;
  }
  .max-width-600 {
    max-width: 600px;
  }
  .margin-auto {
    margin: auto
  }
  .margin-top-10 {
    margin-top: 10px;
  }
}
