#decision_table_header {
  border-bottom: 2px solid black;
}

#decision_data {
  border-bottom: 1px solid black;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#desc_dropdown_btn {
  padding: 0;
}

#desc_dropdown {
  margin-top: 1.25em;
}

.menu_break {
  margin-bottom: 2%;
  border-bottom: solid 1px lightgrey;
  margin-left: 2%;
  margin-right: 4%;
  color: lightgrey;
  text-indent: 2%;
}
