.signup-page {

}


.signup-page, .login-page {
  margin: auto;
  width: 30%;
  .btn{
    margin: auto;
    height: 40px;
    width: 100%;
  }
}

@media (min-width : 320px){
  .signup-page, .login-page{
    width: 90%;
  }
}

@media (min-width : 480px){
  .signup-page, .login-page{
    width: 50%;
  }
}

@media (min-width : 922px ) {
  .signup-page, .login-page {
    width: 30%;
  }
}
